# PEP 582
*.pyc
**__pypackages__/
**__pycache__/
**swp

# Environments
venv/
.venv
.env
.vscode/

# Development
groundhog/static/node_modules
groundhog/*.db

# Build
dist/
build/
*.egg-info/

groundhog/static/css/*min*

# Test
.pytest_cache/
.coverage
coverage.xml
htmlcov/
tests/test.db

# Operate
flask_session/
instance/

# Data
groundhog/static/images/*
