# PEP 582
*.pyc
**__pypackages__/
**__pycache__/
**swp

# Environments
venv/
.venv
.env
.vscode/

# Build
dist/
build/
*.egg-info/

# Test 
.pytest_cache/
.coverage
htmlcov/

# Operate
flask_session/
instance/


