{% extends "base.html" %}

{% block title %}
Sighting
{% endblock %}

{% block main %}
<div class="mb-3 text-center">
    <h2 class="display-6">Where did you see the groundhog?</h2>
</div>
<div class="row my-4 justify-content-center">
    <div class="col-md-4" id="form-sighting">
        <form action="/sighting" method="POST">
            <div class="row my-3">
                <label for="name" class="form-label col-form-label">Nickname</label>
                <input type="text" name="name" placeholder="Enter a name" class="form-control mx-auto w-auto" autofocus>
            </div>
            <div class="row my-3">
                <div class="col">
                    <label for="latitude" class="form-label col-form-label">Latitude</label>
                    <input type="text" name="latitude" placeholder="Enter the latitude" class="form-control">
                </div>
                <div class="col">
                    <label for="latitude" class="form-label col-form-label">Longitude</label>
                    <input type="text" name="longitude" placeholder="Enter the longitude" class="form-control">
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <label for="description" class="form-label col-form-label">Description</label>
                    <textarea type="textarea" name="description" class="form-control"
                        rows="3">Enter a description for the sighting</textarea>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Add Sighting</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
