{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<div class="my-1">
    <h2 class="display-5">Register</h2>
</div>
<div class="card my-2 mx-auto w-30 sub-box">
    <div class="my-3">
        <form action="/auth/register" method="POST">
            <div class="form-group">
                <label for="username" class="form-label col-form-label">Username</label>
                <div class="input-group mb-1 px-4">
                    <span class="input-group-text"><i class="bi bi-person-plus"></i></span>
                    <input type="text" name="username" placeholder="Enter name" class="form-control mx-auto w-auto"
                        required autofocus>
                </div>
                <label for="email" class="form-label col-form-label">Email Address</label>
                <div class="input-group mb-5 px-4">
                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    <input type="email" name="email" placeholder="Enter email address"
                        class="form-control mx-auto w-auto" required>
                </div>
                <label for="password" class="form-label col-form-label">Password</label>
                <div class="input-group mb-1 px-4">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="text" name="password" placeholder="Enter password" class="form-control mx-auto w-auto"
                        required>
                </div>
                <label for="confirmation" class="form-label col-form-label">Comfirm Password</label>
                <div class="input-group mb-4 px-4">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="text" name="confirmation" placeholder="Confirm password"
                        class="form-control mx-auto w-auto" required>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
    <div class="border-top py-3">
        <small class="text-muted">Already have an Account? <a class="ml-2" href="{{ url_for('auth.login') }}">Sign
                In</a>
        </small>
    </div>
</div>
{% endblock %}
